body{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3c3c3c;
	background: url(../images/login/fundo_pagina.jpg) repeat-x #e3e3e3;
	margin-top: 36px;
}

.logo{
  margin-bottom: 10px;
}

.login{
	height: 70px;
  padding-top: 25px;
	background: url(../images/login/fundo_login.jpg) no-repeat center 0;
}
.erro{
  font-weight: bolder;  
  width: 250px;
  padding: 10px;
}
input{
	vertical-align: top;
}

input[type=text],input[type=password]{
  margin: 0 5px;
}

.fields .field{
	padding-right: 30px;
	display: inline-block;
	vertical-align: top;
  line-height: 20px;
}

.recover_password{
  padding-left: 20px;
  border-left: 1px solid #ccc;
  text-align: left;
  margin-top: -12px;
  color: gray;
  font-size: 11px;
}
.recover_password a{
  color: gray;
  text-decoration: none;
}

.recover_password a:hover{
  text-decoration: underline;
}

a{
	color: #3c3c3c;
}

.field img{
  vertical-align: middle;
}

.field .text_field{
	width: 90px;
	height: 18px;
	background: url(../images/login/fundo_field.gif);
	border: 0;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 2px;
}
.fields .submit_bt{
  cursor: pointer;
	display: inline;
	width: 48px;
	height: 20px;
	background: url(../images/login/bt_ok.gif);
	border: 0;
}


.fields .submit_bt:hover{
  filter:alpha(opacity=70);-moz-opacity: 0.7; opacity: 0.7;
}
.lembrar .checkbox{
	width:10px;
}